# Client environment variables
VITE_LOGO_DEV_PUBLISHABLE_KEY=
VITE_API_URL=http://localhost:3000

# Server environment variables
APP_ENV=dev
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/openfin
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BETTER_AUTH_SECRET=change-me
BETTER_AUTH_URL=http://localhost:3000
PLAID_CLIENT_ID=
PLAID_PROD_SECRET=
PLAID_SANDBOX_SECRET=
MX_API_KEY=
MX_API_URL=
MX_CLIENT_ID=
RESEND_API_KEY=
EMAIL_FROM="OpenFinance <hello@openfinance.sh>"
APP_URL=http://localhost:6100
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
