APP_ENV=dev
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/openfin
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BETTER_AUTH_SECRET=change-me
BETTER_AUTH_URL=http://localhost:3000
PLAID_CLIENT_ID=
PLAID_PROD_SECRET=
PLAID_SANDBOX_SECRET=
VITE_LOGO_DEV_PUBLISHABLE_KEY=
